{% extends "layout.html" %} {% block content %}
<a href="#" class="navigation__trigger">
  <img src="/static/img/icon1.png" />
</a>
<ul class="nav">
  <li class="nav__list"><a class="nav__list__item" href="{{ url_for('index') }}">HOME</a></li>
  <li class="nav__list"><a class="nav__list__item" href="{{ url_for('about') }}">ABOUT</a></li>
  <li class="nav__list"><a class="nav__list__item" href="{{ url_for('events') }}">EVENTS</a></li>
  <li class="nav__list"><a class="nav__list__item" href="{{ url_for('techcalendar') }}">FIND YOUR CROWD</a></li>
</ul>

<main class="events-section">
  <div class="eventinfo">
    <div class="eventinfo__body">
      <a class="eventinfo__link" href="https://www.facebook.com/events/123738201383055/">
        <h4 class="eventinfo__title">Keep Calm and Get on GitHub</h4>
      </a>
    </div>

    <div class="eventinfo__body">
      <a class="eventinfo__link" href="https://www.facebook.com/events/1725057874429206/">
        <h4 class="eventinfo__title">Keep Calm and Polish Stuff Up</h4>
      </a>
    </div>

    <div class="eventinfo__body">
      <a class="eventinfo__link" href="https://www.facebook.com/events/565149176999990/">
        <h4 class="eventinfo__title">Keep Calm and Work on Responsive Design</h4>
      </a>
    </div>

    <div class="eventinfo__body">
      <a class="eventinfo__link" href="https://www.facebook.com/events/243283339367432/">
        <h4 class="eventinfo__title">Keep Calm and Code Some Buttons </h4>
      </a>
    </div>

    <div class="eventinfo__body">
      <a class="eventinfo__link" href="https://www.facebook.com/events/121477478262517/">
        <h4 class="eventinfo__title">Keep Calm and Work on your Nav Bar some more</h4>
      </a>
    </div>

    <div class="eventinfo__body">
      <a class="eventinfo__link" href="https://www.facebook.com/groups/KeepCalmAndCarryOnCoding/">
        <h4 class="eventinfo__title">Keep Calm and Work on Your Nav Bar</h4>
      </a>
    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="static/js/main.js"></script>
{% endblock %}